<div>
  <app-floating-input></app-floating-input>
  <form>
      <div class="form-row">
        <div class="form-group text-left col-md-6">
            <label for="inputVersion">Versión:</label>
            <select class="form-control custom-select"
                    name = "versionseleccionada"
                    id="inputVersion"
                    [(ngModel)]="_versionseleccionada"
                    (change)="grabaFiltroVersion(versionseleccionada.value)"
                    #versionseleccionada = "ngModel">
              <optgroup label="Seleccione la versión de su instalación">
                  <option *ngFor="let idx of versiones" value="{{idx.codigo}}" routerLinkActive = "active" >{{idx.descripcion}}</option>
              </optgroup>
            </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group text-left col-md-6">
            <label class="">Módulo:</label>
              <select class="form-control custom-select"
                      name = "moduloseleccionado"
                       [(ngModel)]="_moduloseleccionado"
                      style="width: 100%; height:36px;"
                      (change)="recuperarModulos(moduloseleccionado.value)"
                      #moduloseleccionado="ngModel">
                <optgroup label="Seleccione un módulo">
                    <option *ngFor="let idx of modulos" value="{{idx.codigo}}" routerLinkActive = "active" >{{idx.codigo}} - {{idx.descripcion}}</option>
                </optgroup>
              </select>
        </div>
        <div class="form-group text-left col-md-6">
            <label class="">Objeto:</label>
              <select class="form-control custom-select"
                      name="objetoseleccionado"
                      style="width: 100%; height:36px;"
                       [(ngModel)]="_objetoseleccionado"
                      (change)="grabaFiltroObjeto(objetoseleccionado.value)"
                      #objetoseleccionado="ngModel">
                <optgroup label="Seleccione un objeto del sistema">
                    <option *ngFor="let idx of objetos" value="{{idx.codigo}}">{{idx.codigo}} - {{idx.descripcion}}</option>
                </optgroup>
              </select>
        </div>
      </div>

      <div class="form-group text-left">
          <label for="inputDLL" class="">DLL:</label>
              <input type="text"
                     class="form-control"
                     id="inputDLL"
                     placeholder="DLL">
      </div>
      <div class="form-group text-left">
          <label class="col-sm-3 text-right control-label col-form-label"></label>
              <app-finder></app-finder>
      </div>
  </form>
</div>
