<div>
  <form >
      <fieldset disabled>
        <div>
          <form>
              <div class="form-row">
                <div class="form-group text-left col-md-6">
                    <label for="inputVersion">Versión:</label>
                    <select class="form-control custom-select"
                            name = "version"
                            id="inputVersion"
                            [(ngModel)]="_version"
                            #versions = "ngModel">
                      <optgroup label="Seleccione la versión de su instalación">
                          <option *ngFor="let idx of versiones" value="{{idx.codigo}}" routerLinkActive = "active" >{{idx.descripcion}}</option>
                      </optgroup>
                    </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group text-left col-md-6">
                    <label class="">Módulo:</label>
                      <select class="form-control custom-select"
                              name = "modulo"
                               [(ngModel)]="_modulo"
                              #modulo="ngModel">
                        <optgroup label="Seleccione un módulo">
                            <option *ngFor="let idx of modulos" value="{{idx.codigo}}" routerLinkActive = "active" >{{idx.codigo}} - {{idx.descripcion}}</option>
                        </optgroup>
                      </select>
                </div>
                <div class="form-group text-left col-md-6">
                    <label class="">Objeto:</label>
                      <select class="form-control custom-select"
                              name="objeto"
                               [(ngModel)]="_objeto"
                              #objeto="ngModel">
                        <optgroup label="Seleccione un objeto del sistema">
                            <option *ngFor="let idx of objetos" value="{{idx.codigo}}">{{idx.codigo}} - {{idx.descripcion}}</option>
                        </optgroup>
                      </select>
                </div>
              </div>
              <div class="form-group text-left">
                  <label for="inputDLL" class="">DLL:</label>
                      <input type="text"
                             class="form-control"
                             id="inputDLL"
                             placeholder="DLL">
              </div>
          </form>
        </div>
      </fieldset>

      <div class="form-group row">
        <label for="validationTextarea" class="col-sm-3 text-right control-label col-form-label">Descripción del error</label>
        <div class="col-sm-9">
          <textarea
            class="form-control"
            [ngClass]="{'is-invalid':(descripcionerror.errors?.required && descripcionerror.touched),
                        'is-valid':(!descripcionerror.errors?.required && descripcionerror.touched)}"
            id="validationTextarea"
            placeholder="Escriba una descripción del error, por favor"
            required
            [(ngModel)]="_descripcionerror"
            name = "descripcionerror"
            #descripcionerror = "ngModel">
          </textarea>
          <div *ngIf="descripcionerror.errors?.required && descripcionerror.touched" class="invalid-feedback">
            Es obligatorio el ingreso de una descripción del error
          </div>
        </div>

      </div>
      <div class="form-group row">
        <label for="validationTextarea" class="col-sm-3 text-right control-label col-form-label">Grado de ocurrencia</label>
        <div class="col-sm-9">
          <select class="form-control custom-select">
              <option value="A">La operación está interrumpida a causa del error</option>
              <option value="B">El error se puede solucionar con intervención del usuario</option>
          </select>
        </div>
      </div>
  </form>
</div>
