<div class="row page-titles" style="margin-top:-20px; margin-bottom:5px;">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">{{titulo}}</h3>
        <p style="font-size:14px;">{{descrip}}</p>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item pointer" >
                <a routerLink="['/']">Inicio</a>

            </li>
            <li class="breadcrumb-item">{{titulo}}</li>

        </ol>
    </div>
</div>
